.bg-primary {
    background: #26282B !important;
}

.bg-secundary {
    background: #353941 !important;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;   /* Height of the footer */
}
